    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>


    <style>
        .calculos {
            max-width: 600px;
            margin: 0 auto;
            background-color: #b9b9b933;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            align-items: center;
            margin: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 17px;
        }
        input{
            border-radius: 5px;

        }
        button{
            border-radius: 5px;
            background-color: black;
            color: white;

        }
        .variable {
            font-weight: bold;
            color: #003369;
        }

    </style>

<center>
    <section class="calculos">
        <div id="formulario">
            <form action="/cotizacion" method="post">
                <br><label for="">Valor de Automovil</label>
                <input type="number" name="valor" id="valor" required value=<%=valor%>> <br><br>
                <label for="">Porcentaje de Pago Inicial</label>
                <input type="number" name="pinicial" id="pinicial" required value=<%=pinicial%>><br><br>
                <label for="">Plazos</label>
                <select name="plazos" id="plazos" value=<%=plazos%>>
                    <option value="12">12 Meses</option>
                    <option value="24">24 Meses</option>
                    <option value="36">36 Meses</option>
                    <option value="48">48 Meses</option>
                    <option value="60">60 Meses</option>
                </select><br><br>
                <button type="submit">Calcular</button>
                <button type="reset"><a style="color: white; text-decoration: none;" href="/cotizacion">Limpiar</a></button>
            </form>
        </div>

            <%
                    let pagoInicial = valor * (pinicial/100);
                    let total = valor-pagoInicial;
                    let pagomensual = total / plazos;
                    if (isNaN(pagoInicial)) {
                        pagoInicial = 0;
                    }
                    if (isNaN(total)) {
                        total = 0;
                    }
                    if (isNaN(pagomensual)) {
                        pagomensual = 0;
                    }
                    pagomensual = pagomensual.toFixed(2);
                    pagoInicial = pagoInicial.toFixed(2);
                    total = total.toFixed(2);
            %>
            <br><h3>Detalles del Financiamiento</h3><br>
                <p>Pago inicial: $ <span class="variable"><%=pagoInicial%></span></p>
                <p>Total a financiar: $ <span class="variable"><%=total%></span></p>
                <p>Plazos: <span class="variable"><%=plazos%></span> meses</p>
                <p>Pago mensual: $ <span class="variable"><%=pagomensual%></span></p><br>
</section>   
</center> 
    <%-include('partials/footer.ejs')%>
